*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif
}

.contenedor{
    width: 90%;
    max-width: 1200;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;

}
header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(57, 12, 238, 0.137) 0%, rgba(13, 255, 45, 0.137) 100%), url(../img/2.6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}
.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    color: rgb(5, 1, 1);
}

.hamburguesa{
    position: fixed;
    top: 30px;
    right:  30px;
    background-color: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 06px rgba(0,0, 0, .5);

}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to right, rgba(17, 88, 116, 0.911) 0%, rgba(10, 72, 187, 0.918) 31%, rgb(14, 211, 135) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);

}


.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: rgb(15, 2, 2);
    text-decoration: none;
}

.titulo{
    font-size: 40px;
    margin-bottom: 15px;
}


.copy{
    font-weight: 300;
    font-size: 25;
 
}

/*Nuestro Servicio*/

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: black;
    margin-bottom: 40px;
    font-size: 40px;

}


.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 40%;

    
}
.checklist-servicio{
    width: 50%;
}

.service{
    margin-bottom: 20px;
}
.n-service{
    margin-bottom: 7px;
    color: black;
}

.number{
    display: inline-block;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: center;
    margin-right: 12px;

}

.gallery{
    background-color: white;
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: trasnform .2 ease-in-out;
}

.show{
    transform: translate(0);
}


.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: trasnform .3s .2s;
}

.showImage{
    transform: scale(1);
}
.close{
    position: absolute;
    top: 50px;
    right: 20px;
    width: 40px;
    cursor: pointer;
}

.experts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;   
}

.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;    
}

.cont-expert img{
    width: 80%;
    display: block;
    margin:0 auto;
}

.n-expert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

/* footer*/


footer{
    background-color: darkgrey;
    padding-bottom: 0.1px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
        
}
.contac-us{
    width: 40%;
    color: black;

}

.brand{
    font-weight: 380;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}
.social-media{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%; 
    text-align: center;
    color: black;
}

.social-media-icon:hover{
    background-color: white;
    color: #517fa4;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: white;
    margin-bottom: 60px;
}


@media screen and (max-width:800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px; 
    }

    .checklist-servicio{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;


    }

    .agregar-imagen{
        width: 80%;
    }

    .img-galeria{
        width: 45%;
    }
    .cont-expert{
        width: 80%;
    }


.footer-content{
    justify-content: center;

}


    .social-media{
        widows: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .social-media i{
        margin-left: 0;
    }

    .contac-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }


    .footer-content{
        justify-content: center;

    }

}

@media screen and (media-width:500px){
    .menu-navegacion{
        width: 65vw;
    }
      

    .hamburguesa{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;

    }

    .subtitulo{
        font-size: 30px;
    }
 
    .agregar-imagen{
        width: 95%;
    }
    

    .img-galeria{
        width: 95%;
    }

    .social-media{
        width: 100%;
    }

    .contac-us{
        width: 90%;
    }
}
    
